body {
  background:rgb(6, 147, 147);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  margin-top: -25px;
}

main {
  padding: 15px;
}

header {
  display: flex;
  justify-content: center;
  padding: 100px;
  background: black;
  color: rgb(6, 147, 147);
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.header {
  margin-top: 100px;
  text-align: left;
}

.line {
  margin-top: 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color:rgb(6, 147, 147);
  width: 2px;
}

.intro {
  margin-top: 100px;
  text-align: left;

}

/*
section {
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background:rgb(20, 188, 188);
  padding: 5px;

}
*/

.container {
  border: 2px solid rgb(6, 147, 147);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 70px;
  margin-left: 70px;
  padding-left: 10px;
  background-color: black;
  color: rgb(6, 147, 147);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  background: black;
  color: rgb(6, 147, 147);

}