body {
  background:rgb(6, 147, 147);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  margin-top: -25px;
}

main {
  padding: 15px;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: black;
  color: rgb(6, 147, 147);
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.header {
  margin-top: 150px;
}

.header_para {
  margin-top: 200px;
}

section {
  border: 2px solid rgb(6, 147, 147);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 70px;
  margin-left: 70px;
  padding-left: 10px;
  background-color: black;
  color: rgb(6, 147, 147);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  background: black;
  color: rgb(6, 147, 147);

}