* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  color: white;
  padding: 0px;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(30,87,153,1) 17%,rgba(41,137,216,1) 60%);
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
}

.socialmedia {
  padding: 10px;
  display: flex;
  justify-content: center;
  position: center;
  align-items: space-around;
  color: rgb(248, 246, 246);
}

.socialmedia a {
  margin: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.area {
  border: 2px solid linear-gradient(to right, rgba(30,87,153,1) 17%,rgba(41,137,216,1) 60%);;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 70px;
  margin-left: 70px;
  padding: 10px;
  background-color: black;
  color: rgb(6, 147, 147);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.area2 ul li {
  list-style-type: none;
}

footer {
  text-align: center;
  background: black;
  color: rgb(6, 147, 147);

}
